In [2]:
import pandas as pd
file = open("twitter_combined.txt", "r") 
lines = file.readlines()

In [3]:
len(lines)

2420766

In [4]:
edges_twitter = []

In [5]:
for line in lines:
    edges_twitter.append(line.split())

In [6]:
Graph = pd.DataFrame(edges_twitter)

In [67]:
Graph.head()

         follower  followed
530203    5252591        12
420360   11166472        12
2227873    783214        12
540628    6193182        12
1211888    783214        12

In [8]:
Graph = Graph.rename(columns={0:"follower", 1:"followed"})

In [68]:
len(Graph)

2420766

In [10]:
unique_users_followed = Graph.followed.unique()

In [11]:
len(unique_users_followed)

81305

In [63]:
Graph.followed = Graph.followed.astype(int)
Graph.follower = Graph.follower.astype(int)

In [66]:
Graph = Graph.sort_values(by = "followed")

In [62]:
import random

In [71]:
Graph['prob'] = pd.Series([random.random() for x in xrange(len(Graph))], index=Graph.index)

In [73]:
Graph

          follower   followed      prob
530203     5252591         12  0.362038
420360    11166472         12  0.990917
2227873     783214         12  0.933560
540628     6193182         12  0.188815
1211888     783214         12  0.222482
1757450     783214         12  0.190781
422112         422         12  0.570899
1256667   17219108         12  0.325044
333361   397673792         12  0.326620
1207337   14589771         12  0.749522
1207861   26123649         12  0.814352
531358      783214         12  0.917090
1141177     783214         12  0.078803
531300      858051         12  0.355844
333662      783214         12  0.374609
784445      783214         12  0.237426
1211852      12249         12  0.983188
417983      858051         12  0.869361
364782      858051         12  0.641429
872084     3283901         12  0.983513
871341    14426771         12  0.400042
1211409  357750891         12  0.540338
542931       41553         12  0.340456
1757549         13         12  0.314939
421210      856101         12  0.062914
1551901         13         12  0.571686
364929          13         12  0.002403
540511          13         12  0.893030
983104    14212837         12  0.586559
1255136   14208982         12  0.191654
...            ...        ...       ...
2384545  368018677  567272538  0.390608
2304186   14256927  567339463  0.473455
2348305  202195505  567657021  0.919337
2321808   16285517  567663575  0.114328
573970    14996867  567663575  0.467901
2366096    2576401  567685433  0.505446
1711229   45200705  567859095  0.191464
2384496  368018677  567859095  0.787687
1711151   57715335  567859095  0.933729
2365812  256497288  567915211  0.998751
2137001   49201685  568552194  0.653913
2412177   80317145  568552194  0.994837
2327408  170167167  568627575  0.325496
2362930  248224845  568655523  0.198948
1918555  234064468  568699879  0.747572
1919605   27218831  568699879  0.174612
2398821   57828817  568699879  0.833485
1916083  114738427  568699879  0.055469
1916305  100067941  568699879  0.139952
1915554  163890442  568699879  0.214429
1919693  278628331  568699879  0.689614
1916249   88345486  568699879  0.248616
1917913  175229187  568699879  0.936407
1918856   35359596  568699879  0.104087
1915988   30299100  568699879  0.367005
2389282   40818894  568753458  0.647367
2325286   16734718  568770231  0.603379
624887   276575319  568770231  0.280979
625851    23822446  568770231  0.674683
625765    93905958  568770231  0.243040

[2420766 rows x 3 columns]